* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: skyblue;
}

.question {
    color: deeppink;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-color: black;
    border-color: black;
    border-style: dotted;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

button {
    color: pink;
    background-color: black;
    width: 50px;
    height: 20px;
    margin: 10px;
    border-radius: 10px;
}

.yes:hover {
    translate: 80px;
}